.cards_section {
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
}

.card_1, 
.card_2, 
.card_3,
.card_details,
.card_image
 {
    border-radius: 5%;
}

.card_1, .card_2, .card_3 {
    box-shadow: 5px 10px 8px #888888;
    padding: 1%;
}

.card_content {
    display: flex;
    justify-content: space-between;
}

.card_rating {
    margin-top: -4%;
}

.card_title, .card_offer {
    margin-top: -10%;
}

.card_caption {
    margin-top: -18%;
    flex-direction: column;
}

.card_caption_top {
    text-align: end;
    margin-top: 20px;
}

.card_caption_bottom {
    margin-top: -20px;
}

.train_icon_img {
    position: absolute;
    z-index: 1;
    margin-top: -16%;
    margin-left: 16%;
}

.train_icon_background {
    position: absolute;
    z-index: 0;
    margin-top: -17%;
    margin-left: 15%;
}

.loading, .view_all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin: 0.5%;
}

.view_all > button {
    font-size: large;
}

.other_card_options {
    display: flex;
    justify-content: space-evenly;
    padding: 5%;
    background-color: aliceblue;
}

.option_1, 
.option_2, 
.option_3, 
.option_4, 
.option_5 {
    width: 200px;
    padding: 1%;
    background-color: white;
    border-radius: 5%;
}

.navigate_image {
    position: absolute;
    margin-top: 2%;
    margin-left: -5%;
    width: 80px;
}
 
.tick_icon, 
.train_icon, 
.join_people_icon, 
.chat_icon,
.customer_icon {
    position: absolute;
    margin-left: -32px;
    margin-top: 7px;
}

.view_all_btn {
    border-radius: 20px;
    width: 10%;
    height: 40%;
    background-color: rgb(15, 67, 134);
    color: white;
    height: 40px;
}

.view_all_btn:hover {
    background-color: white;
    color: rgb(15, 67, 134);
    border: 1px solid rgb(15, 67, 134);
    transition: 0.5s;
}
