body {
    font-family: Arial, Helvetica, sans-serif
}

select {
    border: none;
    outline: none;
    scroll-behavior: smooth;
    background-color: transparent;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

[type="text"], [type="number"] {
    border: none;
    outline: none;
    height: 30px;
}